.Center-Right{ 
  width: 95%;
  flex: 1;
  max-height: 100%;
  border-bottom: 2px solid;
  border-color: var(--MainBorderColor);
  display: flex;
}


.ReceivedMessages{ 
  flex: 0.35;
  height: 100%;
  border-right: 2px solid;
  border-color: var(--MainBorderColor);
  display: flex;
  align-items: flex-end;
  padding: 0.55rem;
  box-sizing: border-box;
}

.SentMessages{
  display: flex;
  align-items: flex-end;
  padding: 0.55rem;
  box-sizing: border-box;
}


